{
  "github-contribution-crawler": {
    "ENV": "",
    "AWS_ACCESS_KEY": "",
    "AWS_SECRET_KEY": "",
    "AWS_SERVICE_ACCOUNT_KEY": "",
    "AWS_SERVICE_BUCKET": "",
    "GITHUB_ACCESS_TOKEN": ""
  }
}
