---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/users/ia17011/events/public
    method: GET
  response:
    body: "[{\"id\":\"13350606974\",\"type\":\"WatchEvent\",\"actor\":{\"id\":38400669,\"login\":\"ia17011\",\"display_login\":\"ia17011\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ia17011\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/38400669?\"},\"repo\":{\"id\":47974873,\"name\":\"dnaeon/go-vcr\",\"url\":\"https://api.github.com/repos/dnaeon/go-vcr\"},\"payload\":{\"action\":\"started\"},\"public\":true,\"created_at\":\"2020-08-30T09:01:37Z\"},{\"id\":\"13350530013\",\"type\":\"WatchEvent\",\"actor\":{\"id\":38400669,\"login\":\"ia17011\",\"display_login\":\"ia17011\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ia17011\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/38400669?\"},\"repo\":{\"id\":71948498,\"name\":\"localstack/localstack\",\"url\":\"https://api.github.com/repos/localstack/localstack\"},\"payload\":{\"action\":\"started\"},\"public\":true,\"created_at\":\"2020-08-30T08:34:42Z\",\"org\":{\"id\":28732122,\"login\":\"localstack\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/orgs/localstack\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/28732122?\"}},{\"id\":\"13350518098\",\"type\":\"WatchEvent\",\"actor\":{\"id\":38400669,\"login\":\"ia17011\",\"display_login\":\"ia17011\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ia17011\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/38400669?\"},\"repo\":{\"id\":52977552,\"name\":\"h2non/gock\",\"url\":\"https://api.github.com/repos/h2non/gock\"},\"payload\":{\"action\":\"started\"},\"public\":true,\"created_at\":\"2020-08-30T08:30:31Z\"},{\"id\":\"13350117807\",\"type\":\"DeleteEvent\",\"actor\":{\"id\":38400669,\"login\":\"ia17011\",\"display_login\":\"ia17011\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ia17011\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/38400669?\"},\"repo\":{\"id\":291305366,\"name\":\"ia17011/example-pragmatic-terraform-on-aws\",\"url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws\"},\"payload\":{\"ref\":\"chore/playground\",\"ref_type\":\"branch\",\"pusher_type\":\"user\"},\"public\":true,\"created_at\":\"2020-08-30T05:58:03Z\"},{\"id\":\"13350117730\",\"type\":\"PushEvent\",\"actor\":{\"id\":38400669,\"login\":\"ia17011\",\"display_login\":\"ia17011\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ia17011\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/38400669?\"},\"repo\":{\"id\":291305366,\"name\":\"ia17011/example-pragmatic-terraform-on-aws\",\"url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws\"},\"payload\":{\"push_id\":5605903218,\"size\":2,\"distinct_size\":1,\"ref\":\"refs/heads/master\",\"head\":\"320e9fcce312aa0394d7880696fb3e2ad804c6ce\",\"before\":\"68e25e24556137ccada7a272dfdb4acc5e542066\",\"commits\":[{\"sha\":\"dd8fff9a32645cc1d5c29ef6dd068288858f9eb4\",\"author\":{\"email\":\"cfoyvlird@gmail.com\",\"name\":\"ia17011\"},\"message\":\"chore:
      \U0001F916 memo\",\"distinct\":false,\"url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/commits/dd8fff9a32645cc1d5c29ef6dd068288858f9eb4\"},{\"sha\":\"320e9fcce312aa0394d7880696fb3e2ad804c6ce\",\"author\":{\"email\":\"38400669+ia17011@users.noreply.github.com\",\"name\":\"kirohi\"},\"message\":\"Merge
      pull request #1 from ia17011/chore/playground\\n\\nchore: \U0001F916 memo\",\"distinct\":true,\"url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/commits/320e9fcce312aa0394d7880696fb3e2ad804c6ce\"}]},\"public\":true,\"created_at\":\"2020-08-30T05:58:01Z\"},{\"id\":\"13350117699\",\"type\":\"PullRequestEvent\",\"actor\":{\"id\":38400669,\"login\":\"ia17011\",\"display_login\":\"ia17011\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ia17011\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/38400669?\"},\"repo\":{\"id\":291305366,\"name\":\"ia17011/example-pragmatic-terraform-on-aws\",\"url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws\"},\"payload\":{\"action\":\"closed\",\"number\":1,\"pull_request\":{\"url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/pulls/1\",\"id\":475868433,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0NDc1ODY4NDMz\",\"html_url\":\"https://github.com/ia17011/example-pragmatic-terraform-on-aws/pull/1\",\"diff_url\":\"https://github.com/ia17011/example-pragmatic-terraform-on-aws/pull/1.diff\",\"patch_url\":\"https://github.com/ia17011/example-pragmatic-terraform-on-aws/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/issues/1\",\"number\":1,\"state\":\"closed\",\"locked\":false,\"title\":\"chore:
      \U0001F916 memo\",\"user\":{\"login\":\"ia17011\",\"id\":38400669,\"node_id\":\"MDQ6VXNlcjM4NDAwNjY5\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38400669?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ia17011\",\"html_url\":\"https://github.com/ia17011\",\"followers_url\":\"https://api.github.com/users/ia17011/followers\",\"following_url\":\"https://api.github.com/users/ia17011/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ia17011/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ia17011/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ia17011/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ia17011/orgs\",\"repos_url\":\"https://api.github.com/users/ia17011/repos\",\"events_url\":\"https://api.github.com/users/ia17011/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ia17011/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"\",\"created_at\":\"2020-08-30T05:57:52Z\",\"updated_at\":\"2020-08-30T05:57:59Z\",\"closed_at\":\"2020-08-30T05:57:59Z\",\"merged_at\":\"2020-08-30T05:57:59Z\",\"merge_commit_sha\":\"320e9fcce312aa0394d7880696fb3e2ad804c6ce\",\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"draft\":false,\"commits_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/pulls/1/commits\",\"review_comments_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/pulls/1/comments\",\"review_comment_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/issues/1/comments\",\"statuses_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/statuses/dd8fff9a32645cc1d5c29ef6dd068288858f9eb4\",\"head\":{\"label\":\"ia17011:chore/playground\",\"ref\":\"chore/playground\",\"sha\":\"dd8fff9a32645cc1d5c29ef6dd068288858f9eb4\",\"user\":{\"login\":\"ia17011\",\"id\":38400669,\"node_id\":\"MDQ6VXNlcjM4NDAwNjY5\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38400669?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ia17011\",\"html_url\":\"https://github.com/ia17011\",\"followers_url\":\"https://api.github.com/users/ia17011/followers\",\"following_url\":\"https://api.github.com/users/ia17011/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ia17011/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ia17011/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ia17011/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ia17011/orgs\",\"repos_url\":\"https://api.github.com/users/ia17011/repos\",\"events_url\":\"https://api.github.com/users/ia17011/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ia17011/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":291305366,\"node_id\":\"MDEwOlJlcG9zaXRvcnkyOTEzMDUzNjY=\",\"name\":\"example-pragmatic-terraform-on-aws\",\"full_name\":\"ia17011/example-pragmatic-terraform-on-aws\",\"private\":false,\"owner\":{\"login\":\"ia17011\",\"id\":38400669,\"node_id\":\"MDQ6VXNlcjM4NDAwNjY5\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38400669?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ia17011\",\"html_url\":\"https://github.com/ia17011\",\"followers_url\":\"https://api.github.com/users/ia17011/followers\",\"following_url\":\"https://api.github.com/users/ia17011/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ia17011/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ia17011/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ia17011/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ia17011/orgs\",\"repos_url\":\"https://api.github.com/users/ia17011/repos\",\"events_url\":\"https://api.github.com/users/ia17011/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ia17011/received_events\",\"type\":\"User\",\"site_admin\":false},\"html_url\":\"https://github.com/ia17011/example-pragmatic-terraform-on-aws\",\"description\":\"技術書典6で頒布した『Pragmatic
      Terraform on AWS 』のサンプルコードを公開しています\",\"fork\":true,\"url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws\",\"forks_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/forks\",\"keys_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/teams\",\"hooks_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/hooks\",\"issue_events_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/events\",\"assignees_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/tags\",\"blobs_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/languages\",\"stargazers_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/stargazers\",\"contributors_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/contributors\",\"subscribers_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/subscribers\",\"subscription_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/subscription\",\"commits_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/merges\",\"archive_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/downloads\",\"issues_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/ia17011/example-pragmatic-terraform-on-aws/deployments\",\"created_at\":\"2020-08-29T16:16:41Z\",\"updated_at\":\"2020-08-29T16:16:44Z\",\"pushed_at\":\"2020-08-30T05:57:59Z\",\"git_url\":\"git://github.com/ia17011/example-pragmatic-terraform-on-aws.git\",\"ssh_url\":\"git@github.com:ia17011/example-pragmatic-terraform-on-aws.git\",\"clone_url\":\"https://github.com/ia17011/example-pragmatic-terraform-on-aws.git\",\"svn_url\":\"https://github.com/ia17011/example-pragmatic-terraform-on-aws\",\"homepage\":\"\",\"size\":58,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":false,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":0,\"license\":{\"key\":\"apache-2.0\",\"name\":\"Apache
      License 2.0\",\"spdx_id\":\"Apache-2.0\",\"url\":\"https://api.github.com/licenses/apache-2.0\",\"node_id\":\"MDc6TGljZW5zZTI=\"},\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"ia17011:master\",\"ref\":\"master\",\"sha\":\"68e25e24556137ccada7a272dfdb4acc5e542066\",\"user\":{\"login\":\"ia17011\",\"id\":38400669,\"node_id\":\"MDQ6VXNlcjM4NDAwNjY5\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38400669?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ia17011\",\"html_url\":\"https://github.com/ia17011\",\"followers_url\":\"https://api.github.com/users/ia17011/followers\",\"following_url\":\"https://api.github.com/users/ia17011/[...]
